@use "@angular/material" as mat;
@use "./shared/ui/navbar/navbar-theme";
$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
    )
);

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
@include navbar-theme.theme($theme);

:root {
    @include mat.all-component-themes($theme);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
section {
    padding: 0 15px;
}

@media (min-width: 575.98px) {
    section {
        padding: 0 calc(50% - 270px);
    }
}

@media (min-width: 767.98px) {
    section {
        padding: 0 calc(50% - 360px);
    }
}

@media (min-width: 991.98px) {
    section {
        padding: 0 calc(50% - 480px);
    }
}

@media (min-width: 1199.98px) {
    section {
        padding: 0 calc(50% - 590px);
    }
}
